<%- include header %>
	<!-- case list table -->
	<div class="container">
		<div class="col-md-12">
			<table class="table">
				<% ocases.forEach(function (thecase,index){ %>
					<tr><td>
						<h2>
						<a href="/cases/<%=thecase.id%>">
						<%=thecase.subject%>
						</a>
						</h2>
						<%=thecase.tags%> <%=thecase.startdate%>
						<p><%-thecase.description%></p>	
					</td></tr>
				<% }) %>
				<tr><td><%- include paging %> </td></tr>
			</table>
		</div>
	</div>
	   
	
<%- include footer %>